body {
  max-width: 600px;
  margin: 0 auto;
}

.one,.three{
  padding: 32px;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: -2px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  margin-top: 50px;
  margin-left: auto;
}